.inspire {
    padding: 0 10%;
    z-index: 5;
}

.div {
    align-items: center;
    background-color: var(--beta-70);
    /*rgba(52, 72, 80, 0.5);*/
    border: 2px solid var(--border);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: center;
    padding: 0.5rem 1rem;
    max-width: 50vw;
    width: 100%;
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.link {
    background-color: var(--alpha);
    border: 2px solid var(--delta);
    border-radius: 8px;
    color: var(--text);
    font-size: larger;
    padding-top: 2px;
    margin-bottom: 4px;
    width: 40%;
}

@media screen and (min-width: 640px) {
    .inspire {
        padding: 0 13%;
    }
}

@media screen and (min-width: 1024px) {
    .inspire {
        padding: 0 16%;
    }
}