.nav {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem 3%;
    position: absolute;
    top: 0;
    width: 100%;
}

.logo {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    margin-right: auto;
}

/* ----- */
.mobile {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

.hamburger {
    align-items: center;
    /* border: 2px solid var(--background-light); */
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 2rem;
    justify-content: space-evenly;
    width: 2rem;
}

.active>.bar:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
}

.active>.bar:nth-child(2) {
    opacity: 0;
}

.active>.bar:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
}

.hamburger:active {
    transform: scale(0.8);
}

.bar {
    background-color: var(--background-light);
    border-radius: 8px;
    height: 0.25rem;
    width: 2rem;
}

/* ----- */
.desktop {
    display: none;
}

/* ----- */

.dropdown>.submenu>li:nth-child(1),
.dropdown>.aux>li:nth-child(1) {
    transition-delay: 100ms;
}

.dropdown>.submenu>li:nth-child(2),
.dropdown>.aux>li:nth-child(2) {
    transition-delay: 200ms;
}

.dropdown>.submenu>li:nth-child(3),
.dropdown>.aux>li:nth-child(3) {
    transition-delay: 300ms;
}

.dropdown>.submenu>li:nth-child(4),
.dropdown>.aux>li:nth-child(4) {
    transition-delay: 400ms;
}

.dropdown>.submenu>li:nth-child(5),
.dropdown>.aux>li:nth-child(5) {
    transition-delay: 500ms;
}

.dropdown>.submenu>li:nth-child(6),
.dropdown>.aux>li:nth-child(6) {
    transition-delay: 100ms;
}

@media screen and (min-width: 640px) {}

@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        position: relative;
        width: 100%;
    }

    .menu {
        /* Height is required so our navigation bar isn't humongous. */
        height: auto;
    }

    .menu,
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu li {
        background-color: var(--foreground);
        border-bottom: 2px solid cyan;
        border-top: 2px solid darkcyan;
        min-width: 5rem;
        padding: 0.5rem 0.5rem;
    }

    .menu>li {
        display: block;
        float: left;
        position: relative;
    }

    .menu>li:hover {
        background-color: var(--gamma);
        color: var(--alpha);
    }

    .menu>li:hover>.submenu {
        color: var(--text);
    }

    .menu>li:first-child {
        border-radius: 8px 0 0 8px;
    }

    .menu>li:last-child {
        border-radius: 0 8px 8px 0;
    }

    .link {
        cursor: pointer;
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .dropdown:hover>.submenu>li {
        opacity: 1;
        transform: none
    }

    .dropdown:hover>.aux>li {
        opacity: 1;
        transform: translateX(1rem);
    }

    .submenu {
        left: 0;
        max-height: 0;
        perspective: 400px;
        position: absolute;
        top: 100%;
        z-index: 0;
    }

    .submenu>li {
        opacity: 0;
        position: relative;
        transform: translateY(3rem);
        transition: opacity .4s, transform .5s;
    }

    .submenu>li:first-child,
    .aux>li:first-child {
        border-radius: 0 4px 0 0;
    }

    .submenu>li:last-child,
    .aux>li:last-child {
        border-radius: 0 0 8px 8px;
    }

    .submenu>li:hover {
        background-color: var(--gamma);
        color: var(--alpha);
    }

    .submenu>li:hover>.aux {
        color: var(--text);
    }

    .aux {
        left: 0;
        max-height: 0;
        perspective: 400px;
        position: absolute;
        top: 100%;
        z-index: 0;
    }

    .aux>li {
        opacity: 0;
        transform: translateY(3rem);
        transition: opacity .5s, transform .5s;
    }

    .aux>li:hover {
        background-color: var(--gamma);
        color: var(--alpha);
    }
}

@media screen and (min-width: 1024px) {
    .menu li {
        min-width: 10rem;
        padding: 1rem 0;
    }
}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 1536px) {}