.main {
    align-items: center;
    background-color: var(--background-light);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: fit-content;
    padding: 0 3%;
    width: 100%;
}