.wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
}

.wrapper>* {
    margin: 0.5rem;
}

.wrapper> :first-child,
.wrapper> :nth-child(2) {
    align-self: center;
}

.wrapper h6 {
    margin-top: 1rem;
}

.wrapper a {
    color: var(--gamma);
}