.box {
    align-items: center;
    background-color: var(--foreground);
    border: 2px solid var(--border);
    border-radius: 12px;
    display: flex;
    height: max-content;
    justify-content: center;
    padding: 1rem;
    margin: 1rem 0;
    width: max-content;
}